.container {
  > h3 {
    color: rgb(140, 148, 196);
    width: 22rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 0.2rem;
    text-align: center;
 /*    border: dashed 0.15rem rgb(182, 177, 177); */
    background-color: rgb(233, 239, 240);
    }
}

@media (max-width: 700px) {
  .container {
    width: 95%;
    > h3 {
      width: 100%;
    }
  }
}

@keyframes startAlert {
  0% {
    opacity: 0;
  }
}
